################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/RetryResults
/TestResults
/TestProject/bin/Debug
/TestProject/obj
/TestProject2/bin/Debug/net6.0
/TestProject2/obj
/TestProject/TestResults
/TestProject2/TestResults
